* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
body {
    overflow-x: hidden;
}
.menu_bar {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    width: 100%;
    background-color: white;
    margin-top: 10px;

    
}
.menu_bar img{
    height:40px;
    margin-left: 1.7cm;
}
.menu_bar h1{
    font-size: 30px;
    color:rgb(15, 129, 155) ;
    margin-right: 12.8cm;
    margin-top: 10px;
    transition: all 0.3s;
}
.menu_bar h1:hover{
    color:rgb(25, 110, 129) ;
    transition: all 2s;
    
}
.menu_bar ul {
    list-style: none;
    display: flex;
    margin-right: 20px;
    
   
}
.menu_bar ul li{
    padding: 10px 30px;
    position: relative;
}
.menu_bar ul li a{
    text-decoration: none;
    font-size: 20px;
    color: rgb(15, 129, 155);
    transition: all 0.3s;
    
}


.menu_bar ul li a:hover{
    color: rgb(1, 200, 245);
}
#slider {
    overflow:hidden ;
    position: relative;
}
#slider::after{
    content:'';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(248, 248, 248, 0.137);
}
#slider figure {
    position: relative;
    width: 300%; 
    margin: 0;
    left: 0;
    animation: 10s slider infinite;
    margin-top: 1cm;
    
}
#slider figure img{
   float: left;
   margin-left: 1cm;
   border: 2px solid black;
   


}
#slider figure h2 {
    position: absolute;
}
@keyframes slider{
   25% {
       left: -50%;
   }
   50%{
       left: -100%;
   }
   75%{
       left: -75%;
   }
   85%{
       left:-50%;
   }
   100%{
       left: 0;
   }
}