* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
body {
    overflow-x: hidden;
    background-color: rgb(227, 232, 232);
    height: 50cm;
}
.menu_bar {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    width: 100%;
    background-color: white;
    border-bottom: 3px solid rgb(25, 110, 129);

    
}
.menu_bar img{
    height:40px;
    margin-left: 1cm;
    
}
.menu_bar h1{
    font-size: 25px;
    color:rgb(72, 152, 168) ;
    margin-right: 10cm;
    transition: all 0.3s;
}
.menu_bar h1:hover{
    color:rgb(25, 110, 129) ;
    
}
.menu_bar ul {
    list-style: none;
    display: flex;
    margin-left: 3.8cm  ;
    
    
   
}
.menu_bar ul li{
    padding: 10px 30px;
    position: relative;
}
.menu_bar ul li a{
    text-decoration: none;
    font-size: 17px;
    color: rgb(72, 152, 168);
    transition: all 0.3s;
    padding: 5px;
    
}


.menu_bar ul li a:hover{
    color: rgb(1, 200, 245);
}
.menu-toggle{
    margin-right: 0.8cm;
    display: flex;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    
    
}
.menu-toggle span{
    display:block;
    border-radius: 3px;
    color: rgb(72, 152, 168) ;
    font-size: 17px;
    
}


.menu-toggle input {
    position: absolute;
    width: 3.2cm;
    height: 1.45cm;
    top: -20px;
    left: -30px;
    opacity: 0;
    cursor: pointer;
}
.menu-toggle input:checked ~ span{
    color: rgb(1, 200, 245);
    
}
.menu-toggle ul{
    display: flex;
    position: absolute;
    right: -40px;
    height: 3cm;
    width: 4cm;
    flex-direction: column;
    background-color: white;
    top: 1cm;
    align-items:flex-start;
    justify-content: space-evenly;
    z-index: -1;
    transform: translateX(100%);
    transition: all 1s;
    opacity: 0;
    border-bottom: 3px solid rgb(72, 152, 168);
    
    
}
.menu-toggle ul.slide {
    opacity: 1;
    transform: translateX(0);
}
.menu-toggle ul li a{
    font-size: 13px;
    border-bottom: 3px solid rgb(72, 152, 168);
}